<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Mp3000mp TOS bundle layout</title>
</head>
<body>
<h1>Mp3000mp TOS bundle layout</h1>
<a href="https://symfony.com/doc/current/bundles/override.html#templates">Please override this layout</a>
{% block mp3000mp_tos %}{% endblock %}
</body>
</html>
